@media only screen and (max-width: 992px) {
	.header__menu .menu li{
		margin-right: 10px;
		&:nth-child(4) {
			display: none;
		}
	}
}

@media only screen and (max-width: 768px) {

	.header__menu .menu li{
		margin-right: 0px;
		& .menu__item::before{
			display: none;
		}
		&:nth-child(2) {
			display: none;
		}
	}
	.registration{
		&__form{
			padding: 0 20px;
			.form{
				max-width: 400px;
				margin: 0 auto;
				& input, & select, & .jq-selectbox{
					width: 100%;
				}
				&__button{
					margin-top: 25px;
				}
			}
		}
	}
}

@media only screen and (max-width:576px) {
	.jq-selectbox{
		display: none;
	}
	.registration {
		& h2{
			display: none;
			&.hide{
				display: block;;
			}
		}
		& .organization, & .datepicker, & select{
			display: none;
		}
		& .form__button{
			width: 100%;
		}
	}
	.footer__content{
		justify-content: space-around;
	}
}